<!doctype html>
<html lang="en">
  <head>
    {% block pageTitle %} {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://kit.fontawesome.com/11a8bab407.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	                    <i class="fa fa-bars"></i><span class="sr-only">Toggle Menu</span>
	                </button>
                </div>
				<div class="p-4">
					<img src="images/GOLDespTM.png" style="width:100%; height: auto;">
		  		    <h1><a href="index.html" class="logo"><span style="color: #fac700;">Integrated Supply & Maintenance User Guide</span></a></h1>
	                <ul class="list-unstyled components mb-5">
	                    <li class="active">
	                        <a href="#"><span class="fa fa-book-reader mr-3"></span> General Overview</a>
	                    </li>
	                    <li>
	                        <a href="#"><span class="fa fa-laptop-house mr-3"></span> Administration</a>
	                    </li>
	                    <li>
                            <a href="#"><span class="fa fa-briefcase mr-3"></span> Daily Operations</a>
	                    </li>
	                    <li>
                            <a href="#"><span class="fa fa-wrench mr-3"></span> Maintenance Program</a>
	                    </li>
	                    <li>
                            <a href="#"><span class="fa fa-edit mr-3"></span> Work Recording</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-cogs mr-3"></span> Part Request</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-boxes mr-3"></span> Warehousing</a>
	          </li>
	          <li>
	          <a href="#"><span class="fas fa-warehouse mr-3"></span> Depot Supply</a>
	      	  </li>
	      	  <li>
	      	  	<a href="#"><span class="fas fa-file-signature mr-3"></span> Reports and Forms</a>
	      	  </li>
	        </ul>

	        <div class="mb-5">
						<h3 class="h6 mb-3" style="color: grey;">Search guide</h3>
						<form action="#" class="search-form">
	            <div class="form-group d-flex">
	            	<div class="icon"><span class="fas fa-search mr-3"></span></div>
	              <input type="text" class="form-control" placeholder="Search">
	            </div>
	          </form>
					</div>

	        <img src="images/boeing2.png" style="width: 100%; height: auto;">

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | GOLDesp is a Boeing Inc registered product <i class="icon-heart" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
        {% block pageContent %} {% endblock %}

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
