{% extends 'base.html' %}

{% block pageTitle %}
<title>Page2</title>
{% endblock %}

{% block pageContent %}
<div class="pageContent contentSection1">
    <h1>General Overview</h1>
    <h3>About GOLDesp</h3>
    <p>GOLDesp is a Commercial Off The Shelf Maintenance Management and Warehouse Management solution. It is unstyled
        by multiple militaries around the globe in the managment of assets such as aircraft, ships, tanks and event
        sattelites and space vehicles.</p>
    <p>GOLDesp courses are normally provided by your organization and this guide is designed to be used as a refresher</p>
    <p>This guide is a work in progress and is based on GOLDesp ISM v17.7</p>
    <p>Oliver Spurway Jun 2020</p>
</div>
{% endblock %}
