{% extends 'basev2.html' %}

{% block pageTitle %}
<title>Home</title>
{% endblock %}


{% block breadcrumb %}
<h4 class="text-light" id="breadcrumb">GOLDesp v17 > Online User Guide</h4>
{% endblock %}


{% block pageContent %}

    <h2>Welcome!</h2>
    <p>This user guide is designed to be a working desk reference for GOLDesp Users, and should supplement the formal classroom training received by new users. This version of the guide is based on the following version of GOLDesp:</p>
    <ul>
        <li>Integrated Supply & Maintenance</li>
        <li>Version 17.7</li>
    </ul>
    <p>To use this guide, select the function that you need help with in the collapsable menu on the left hand side of the page. Many options have sub menus that will take you into more specific help topics.</p>

    <div class="line"></div>

    <h3>Walktrough Guides</h3>
    <p>The link at the bottom of the menu will take you to the interactive 'Process Walkthroughs' tool, which will guide you through common user processes step-by-step (for example, opening a work order).</p>
    <p>Depending on the options selected by your organization when purchasing GOLDesp, these may be either generic or specific to your business. See the notes at the start of the tool for more details.</p>

    <div class="line"></div>

    <h3>Further Help</h3>
    <p>Further help can be found from the following sources:</p>
    <ul>
        <li>
            <a href="#">GOLDesp Online Help</a>
        </li>
        <li>Unit Champion User</li>
        <li>Your organization's GOLDesp Training Section </li>
    </ul>

    

{% endblock %}
